<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Pesquisar Cadastro</h2>
    <form method="post" action="/modifica-deleta_cadastro">
        <input type="text" name="nome" required placeholder="Nome do Cliente">

        <input type="text" name="sobrenome" required placeholder="Sobrenome do Cliente">

        <input type="text" name="rg" required placeholder="RG do Cliente"><br>

        <button type="submit">Pesquisar</button>

        {% if clientes_pesquisa %}
        <h2>Clientes Encontrados:</h2>
            <ul>
                {% for cliente in clientes_pesquisa %}
                    <li>{{ cliente.pnome }} {{ cliente.unome }} - RG: {{ cliente.rg }} - CPF: {{ cliente.cpf }}
                        <a href="{{ url_for('edit_cliente', rg=cliente.rg) }}">Editar</a>
                        <a href="{{ url_for('delete_cliente', rg=cliente.rg) }}">Deletar</a>

                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </form>
</body>
</html>