@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;

}
.box{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 5px black;
    width: 40vw;
    height: 90vh;
    border-radius: 7px;
    
}


form{
    padding-left: 10%;
}

#ipessoal{
    background-color: rgb(207, 207, 207);
}

input {
    width: 30vw;
    height: 5vh;
}

.mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}
.mid1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

#tam {
    width: 10vw;
}

#rigth {
    margin-right: 6vw;
}