<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../templates/menu/banco_de_dados.html">Banco de dados</a><br>
    <a href="../templates/menu/alunos.html">Alunos</a><br>
    <a href="../templates/menu/conceitos.html">Conceitos</a><br>
    <a href="../templates/menu/cadastro.html">Casdastrar Cliente</a><br>
    <a href="../templates/menu/funcionario.html">Funcionario</a><br>
</body>
</html>