<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>pagina_principal</title>
    <link rel="stylesheet" href="../static/CSS/style_paginaprincipal.css" />
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar">
      <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <h3 id="topo">Viação Garcia</h3>
      </div>
      <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <a id="cadast" href="../templates/menu/cadastro.html">Cadastrar-se</a>
      </div>

    </nav>

    <!-- sidebar -->
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
              <span class="navlink">Home</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>
            <ul class="menu_items submenu">
              <a href="menu/banco_de_dados.html" class="nav_link sublink">Banco de Dados</a>
              <a href="menu/alunos.html" class="nav_link sublink">Alunos</a>
              <a href="menu/conceitos.html" class="nav_link sublink">Conceitos</a>
            </ul>
          </li>
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
              <span class="navlink">Funcionario</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>
            <ul class="menu_items submenu">
              <a href="../templates/acesso_funcionario.html" class="nav_link sublink" > Funcionario</a>
              <a href="../templates/menu/Funcionario/consultas/consulta_viagem.html"  class="nav_link sublink" > Viagem</a>
              <a href="../templates/menu/Funcionario/consultas/onibus_e_empresa.html"  class="nav_link sublink" > Onibus</a>
              <a href="../templates/menu/Funcionario/consultas/cidades_cadastradas.html"  class="nav_link sublink"> Cidades </a>
            </ul>
          </li>

        <!-- Fecha e Abre a navbar -->
        <div class="bottom_content">
          <div class="bottom expand_sidebar">
            <span> Expandir</span>
            <i class='bx bx-log-in' ></i>
          </div>
          <div class="bottom collapse_sidebar">
            <span> Diminuir</span>
            <i class='bx bx-log-out'></i>
          </div>
        </div>
      </div>   
    </nav>
    
    <!-- JavaScript:) -->
    <script src="../static/JS/pagina_principal.js"></script>
  </body>
</html>